/node_modules
/public/storage
/vendor
/bower_components
/.idea
/storage/*.key
/storage/debugbar
/laradock
npm-debug.log
npm-debug.log.*
Homestead.json
Homestead.yaml
.gitmodules
.env
.env.testing
.brackets.json
.project
Thumbs.db
.DS_Store

tests/_output/*